$white: #ffffff;
$black: #000000;
$red:#ff3434;
$facebook:#3b5998;
$linkedin:#0077B5;
$green:#4BE542;
$grey:#6E6E6E;
$button-hover:#d0d0d0;
$phone-green:#01d875;
$message-red:#ff544d;

$primary-font:'Nunito', sans-serif;
$second-font:'Space Mono', monospace;



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
    //    font-family: Arial, Tahoma, sans-serif;
    font-family: $primary-font;
    font-family: $second-font;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 16px;
    position: relative;
}

p {
    font-size: 1.5rem;
}

.lined{
    position: relative;
    text-decoration: none;
    display: inline-block;
    &:hover {
        color: $red;
        transition: 500ms;
        text-decoration: none;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.71);
            top: 100%;
            left: 0px;
            animation: lineAnime 500ms ease-in;
        }
    }
}

.section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //    margin-bottom: 30px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background:  radial-gradient(ellipse at center, #2d3e52 0%, $black 100%)
}

.section-title {
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 180px;
    text-align: center;
    padding-top: 20px;
    align-self: flex-start;
    //    transition: 400ms;
    //        height: 500px;
    //        background-color:rgba(77, 79, 108, 0.22);
    span {
        display: inline-block;
        transform: rotate(90deg);
        color: #ffffff;
    }
    span:first-child {
        color: $red;
    }
    h3 {
        font-size: 5rem;
        transform: rotate(90deg);
        &::first-letter {
            color: $red;
        }
    }
}

.first-sect {
    text-align: center;
    display: flex;
    background-color: $black;
    position: relative;
}

.scroll-downs {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 55px;
    border: 2px solid $white;
    border-radius: 25px;
    opacity: 0.75;
    cursor: pointer;
    &:hover {
        border-color: $red;
        transition: 500ms;
        animation: pulse;
        animation-iteration-count: infinite;
        animation-duration: 700ms;
    }
}

.scroller {
    width: 3px;
    height: 10px;
    margin: -1px;
    border-radius: 25%;
    background-color: $white;
    animation-name: scroll;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

///////////
.logo {
    height: 4%;
    width: 4%;
}

.first-col {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at center, rgba(45, 62, 82, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* w3c */
    border-bottom: none;
    flex-direction: column;
}

.first-sect-col-1 {
    height: 100vh;
    width: 100%;
    padding: 0;
}

.first-sect-col-2 {
    height: 100vh;
    overflow: hidden;
    img {
        height: 180%;
        width: auto;
        margin-left: -320px;
        animation: colorChange 100s infinite;
    }
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg)
    }
    50% {
        filter: hue-rotate(1000deg)
    }
    100% {
        filter: hue-rotate(0deg)
    }
}

.fName {
    background-color: rgba(77, 79, 108, 0.22);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    h2 {
        font-size: 8rem;
        color: $white;
        text-transform: uppercase;
        position: relative;
        margin-left: -90px;
        font-family: $primary-font;
        &::before {
            content: "WAWRZYK";
            position: absolute;
            top: 42%;
            left: 89%;
            font-size: 18px;
            display: block;
            transform: rotate(90deg);
        }
        &::after {
            content: "DESIGN";
            font-size: 18px;
            display: block;
            position: absolute;
            top: 71%;
            left: 105%;
            color: $red;
        }
    }
    span {
        color: $red;
    }
}

@media(max-width:1199px) {
    .first-sect-col-2 img {
        display: none;
    }
    .first-sect-col-2 {
        display: none;
    }
    .section-projects-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-projects {
        padding-right: 0px;
    }
    .section-title {
        height: auto;
    }
    .section-about,
    .section-contact {
        padding-right: 0px;
    }
    .section-projects-title {
        height: 0;
        align-self: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        h3 {
            transform: none;
        }
    }
    .section-about-container,
    .about-tech-cont {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section-about-title {
        height: 0;
        align-self: auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            transform: none;
            margin-bottom: 20px;
        }
    }
    .project-container-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    p {
        font-size: 1.3rem;
    }
    .section-container-contact {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        h3 {
            transform: none;
            margin-bottom: 20px;
        }
    }
    .section-contact-title {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: auto;
    }
    .section-social-content {
        flex-direction: column;
    }
    
    .about-tech-cont-box-group{
        width: 100% !important;
        
    }
}

@media(max-width:540px) {
    ul {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-top: 5px;
    }
    .about-tech-cont-box-group {
        
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        i{
            font-size: 90px !important;
        }
    }
    .section-content {
        height: 100%;
        width: 90% !important;
    }
    .contact-icons {
        i {
            font-size: 90px;
        }
    }
    .fName {
        h2 {
            font-size: 5rem;
            margin-left: -60px;
            &::before {
                left: 89%;
                font-size: 11.5px;
                top: 42%;
            }
            &::after {
                left: 106%;
                font-size: 11.5px;
                top: 72%;
            }
        }
    }
    .fName-2 {
        h3 {
            font-size: 1rem;
        }
    }
    .nav {
        margin-right: 0!important;
        padding: 0 !important;
        display: flex;
        align-items: center;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
    }
    form {
        width: 80% !important;
    }
    li {
        display: block !important;
        &:hover {
            background-color: rgba(77, 79, 108, 0.22);
            width: 100%;
        }
        &:active {
            background-color: rgba(77, 79, 108, 0.22);
        }
    }
    .hamburger span {
        visibility: visible !important;
    }
    p {
        font-size: 1.2rem;
    }
    .section-about-content,
    .section-content h2 {
        font-size: 4rem !important;
    }
}

.nav {
    text-align: right;
    margin-bottom: 0px;
    position: fixed;
    right: 0px;
    z-index: 1669;
    background-color: rgba(4, 4, 4, 0.57);
    width: 100%;
    ul {
        padding: 0px;
        margin: 0px;
    }
    li {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 0;
        padding: 20px 20px 20px 20px;
        z-index: 1500;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        color: $white;
        text-transform: uppercase;
        position: relative;
        font-family: $primary-font;
        &:hover {
            color: $red;
            transition: 500ms;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.71);
                top: 100%;
                left: 0px;
                animation: lineAnime 500ms ease-in;
            }
        }
    }
    margin-bottom: 0px;
}

@keyframes lineAnime {
    0% {
        width: 0;
    }
    80% {
        width: 130%
    }
    100% {
        width: 100%;
    }
}

.hamburger span {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 40px;
    display: block;
    z-index: 9999;
    visibility: hidden;
    position: fixed;
    margin-top: 5px;
    &:hover {
        color: $red;
        transition: 400ms;
        cursor: pointer;
    }
}

.fName-2 {
    color: $white;
    padding: 10px;
    margin-right: 20px;
    font-style: italic;
    font-family: $primary-font;
}

.section-content {
    text-align: center;
    border-top: none;
    font-size: 2rem;
    height: 100%;
    width: 80%;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
    
    h2 {
        font-size: 4rem;
        margin-top: 50px;
        margin-bottom: 100px;
        font-family: $primary-font;
        font-weight: bold;
    }
    span {
        color: $red;
    }
}

.first-section {
    margin-bottom: 50px;
}

.section-projects {
    height: 100%;
}

.project-content {
    padding: 10px;
    margin-bottom: 10px;
    img {
        height: auto;
        width: 100%;
        border-radius: 10px;
        box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
    }
}

.section-content-projects {
    height: 100%;
}

.project-cont {
    padding: 5px;
    p{
        text-align: left;
    }
}

//////animation
.fullpage-animate {
    position: absolute;
    opacity: 1;
    visibility: visible;
    background-color: $black;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:790px) {
    
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@media(max-width: 790px) {
    .letters-cont>p {
        color: $white;
        text-align: center;
        font-size: 20px;
        float: left;
        display: none;
    }
  
    .pulse-cont {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes full {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes showcont {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section-container-contact {
    width: 100%;
}

.section-social-content {
    display: flex;
    div {}
    i {
        cursor: pointer;
        color: $white;
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
    }
}

.facebook-icon {
    &:hover {
        color: $facebook;
        transition: 400ms;
        text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    }
}

.linkedin-icon {
    &:hover {
        color: $linkedin;
        transition: 400ms;
        text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    }
}

.call-sect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 1rem;
    }
}

.visible {
    opacity: 1;
    transition: 900ms;
    visibility: visible;
}

.hidden{
    opacity:0;
    visibility: hidden;
    transition: 900ms;
}

.section-phone-content {
    min-height: 800px;
    background: none;
}

.section-content-contact {
    h2 {
        padding-top: 10px;
    }
}

.contact-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#message {
    box-sizing: border-box;
    display: none;
    width: 60%;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px $black solid;
    line-height: 35px;
    text-align: center;
}

#message.error {
    display: block;
    border-color: #FA7382;
    color: $red;
}

#message.success {
    display: block;
    border-color: #9FFA8A;
    color: $green;
}

form {
    width: 60%;
    margin: 40px auto;
}

.inputField {
    margin-bottom: 10px;
    overflow: hidden;
}

.inputField input,
.inputField textarea {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 13px;
    color: $grey;
    border: 0;
    background: transparent;
    border-bottom: 1px solid $white;
    &:hover,
    &:focus {
        border-bottom: 1px solid $red;
        transition: 500ms;
    }
    &:focus {
        outline: none
    }
}

.inputField textarea {
    height: 150px;
    padding: 20px;
    line-height: 20px;
    margin-top: 15px;
}

.input-field-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputField button {
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: $white;
    color: $grey;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    
    &:hover {
        background-color: $button-hover;
        transition: 500ms;
    }
}

.call-icon {
    display: flex;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.answer-icon-message {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    vertical-align: middle;
    font-family: $primary-font;
    text-align: center;
}

.visible-box {
    opacity: 1;
    visibility: visible;
    transition: 500ms;
}

.phone-ico {
    &:hover {
        color: $phone-green;
        transition: 400ms;
        text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    }
}

.message-ico {
    &:hover {
        color: $message-red;
        transition: 400ms;
        text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    }
}

::-webkit-scrollbar {
    width: 8px;
    /* for vertical scrollbars */
    height: 8px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: $grey;
}

::-webkit-scrollbar-thumb {
    background: $red;
}

.section-about,
.section-projects {
    margin-bottom: 50px;
}

.about-tech-cont-box-group {
    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.pulse-icon {
    color: $white;
    position: fixed;
    top: 50%;
    
}

textarea {
    resize: none;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid $white;
}

.about-tech-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-tech-cont-box {
    display: flex;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    i {
        font-size: 150px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
        color: $white;
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
    }
}

.about-tech-cont-box-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
    div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.about-tech-cont-box-flex {
    display: flex;
    justify-content: center;
}

.about-tech-cont-box-title {
    margin-bottom: 50px;
    p {
        font-size: 2.5rem;
        font-family: $primary-font;
    }
}

.devicon-mysql-plain:hover {
    color: rgb(0, 81, 128);
    cursor: pointer;
    transition: 300ms;
}

.devicon-angularjs-plain:hover {
    color: rgb(237, 33, 60);
    cursor: pointer;
    transition: 300ms;
}

.devicon-python-plain:hover {
    color: rgb(37, 169, 206);
    cursor: pointer;
    transition: 300ms;
}

.devicon-react-original:hover {
    color: rgb(0, 216, 255);
    cursor: pointer;
    transition: 300ms;
}

.devicon-wordpress-plain:hover {
    color: rgb(29, 139, 190);
    cursor: pointer;
    transition: 300ms;
}

.devicon-sass-original:hover {
    color: rgb(203, 104, 152);
    cursor: pointer;
    transition: 300ms;
}

.devicon-bootstrap-plain:hover {
    color: rgb(86, 60, 121);
    cursor: pointer;
    transition: 300ms;
}

.devicon-jquery-plain:hover {
    color: rgb(17, 105, 174);
    cursor: pointer;
    transition: 300ms;
}

.devicon-javascript-plain:hover {
    color: rgb(240, 219, 79);
    cursor: pointer;
    transition: 300ms;
}

.devicon-photoshop-plain:hover {
    color: rgb(0, 200, 255);
    cursor: pointer;
    transition: 300ms;
}

.devicon-php-plain:hover {
    color: rgb(119, 123, 179);
    cursor: pointer;
    transition: 300ms;
}

.devicon-git-plain:hover {
    color: rgb(243, 79, 41);
    cursor: pointer;
    transition: 300ms;
}

.devicon-css3-plain:hover {
    color: rgb(51, 169, 220);
    cursor: pointer;
    transition: 300ms;
}

.devicon-html5-plain:hover {
    color: rgb(241, 101, 41);
    cursor: pointer;
    transition: 300ms;
}

.about-tech-cont-line {
    width: 100%;
    height: 100px;
    background-color: $white;
}

.about-tech-cont-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.differ-link {
    padding: 10px;
    text-decoration: none;
}

.justify-text {
    margin: 0 auto;
    width:80%;
}
