body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Arial, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll; }

p {
  font-size: 2rem; }

.section {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-title {
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 180px;
  text-align: center;
  padding-top: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }
  .section-title span {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #ffffff; }
  .section-title span:first-child {
    color: #ff3434; }
  .section-title h3 {
    font-size: 5rem;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
    .section-title h3::first-letter {
      color: #ff3434; }

.first-sect {
  padding-left: 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: black; }

.logo {
  height: 4%;
  width: 4%; }

.first-col {
  background-color: #414141;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 0, 0, 0.3);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-radial-gradient(center ellipse, #2d3e52 0%, black 100%);
  background: -o-radial-gradient(center ellipse, #2d3e52 0%, black 100%);
  background: radial-gradient(ellipse at center, #2d3e52 0%, black 100%);
  /* w3c */
  border-bottom: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.first-sect-col-1 {
  height: 100vh;
  width: 100%; }

.first-sect-col-2 {
  height: 100vh;
  overflow: hidden; }
  .first-sect-col-2 img {
    height: 180%;
    width: auto;
    margin-left: -320px;
    -webkit-animation: colorChange 100s infinite;
    animation: colorChange 100s infinite; }

@-webkit-keyframes colorChange {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(1000deg);
    filter: hue-rotate(1000deg); }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); } }

@keyframes colorChange {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(1000deg);
    filter: hue-rotate(1000deg); }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); } }

.fName {
  background-color: rgba(77, 79, 108, 0.22);
  text-align: center;
  padding-right: 70px; }
  .fName h2 {
    font-size: 8rem;
    padding: 20px 180px 20px 180px;
    color: #d8d8d8;
    text-transform: uppercase;
    position: relative; }
    .fName h2::before {
      content: "WAWRZYK";
      position: absolute;
      top: 44%;
      left: 70%;
      font-size: 18px;
      display: block;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .fName h2::after {
      content: "DESIGN";
      font-size: 18px;
      display: block;
      position: absolute;
      top: 67%;
      left: 78%;
      color: #ff3434; }
  .fName span {
    color: #ff3434; }

@media (max-width: 1199px) {
  .first-sect-col-2 img {
    display: none; }
  .first-sect-col-2 {
    display: none; }
  .section-projects-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-projects {
    padding-right: 0px; }
  .section-title {
    height: auto; }
  .section-about,
  .section-contact {
    padding-right: 0px; }
  .section-projects-title {
    height: 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px; }
    .section-projects-title h3 {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
  .section-about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section-about-title {
    height: 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-about-title h3 {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin-bottom: 20px; }
  .project-container-reverse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  p {
    font-size: 1.3rem; }
  .section-container-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -50px; }
    .section-container-contact h3 {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin-bottom: 20px; }
  .section-contact-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .section-social-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 540px) {
  ul {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-top: 5px; }
  .section-content {
    height: 100%; }
  .nav {
    margin-right: 0 !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    visibility: hidden; }
  li {
    display: block !important; }
    li:hover {
      background-color: rgba(77, 79, 108, 0.22);
      width: 100%; }
    li:active {
      background-color: rgba(77, 79, 108, 0.22); }
  .hamburger span {
    visibility: visible !important; }
  p {
    font-size: 1.2rem; }
  .section-about-content,
  .section-content h2 {
    font-size: 2.5rem !important; } }

.nav {
  text-align: right;
  margin-bottom: 0px;
  position: fixed;
  right: 0px;
  z-index: 1669;
  background-color: rgba(4, 4, 4, 0.57);
  width: 100%;
  padding-right: 40px;
  margin-bottom: 0px; }
  .nav ul {
    padding: 0px;
    margin: 0px; }
  .nav li {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
    z-index: 1500; }
  .nav a {
    text-decoration: none;
    cursor: pointer;
    color: #c1c1c1;
    text-transform: uppercase;
    position: relative; }
    .nav a:hover {
      color: #ff3434;
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms; }
      .nav a:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.71);
        top: 25px;
        left: 0px;
        -webkit-animation: lineAnime 500ms ease-in;
        animation: lineAnime 500ms ease-in; }

@-webkit-keyframes lineAnime {
  0% {
    width: 0; }
  80% {
    width: 130%; }
  100% {
    width: 100%; } }

@keyframes lineAnime {
  0% {
    width: 0; }
  80% {
    width: 130%; }
  100% {
    width: 100%; } }

.hamburger span {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 40px;
  display: block;
  z-index: 9999;
  visibility: hidden;
  position: fixed;
  margin-top: 5px; }
  .hamburger span:hover {
    color: #ff3434;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    cursor: pointer; }

.fname-2 {
  color: white;
  padding: 10px;
  margin-right: 20px;
  font-style: italic; }

.section-content {
  text-align: center;
  border-top: none;
  padding-right: 10px;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  color: #c1c1c1;
  padding-bottom: 100px;
  background: -webkit-radial-gradient(center ellipse, #2d3e52 0%, black 100%);
  background: -o-radial-gradient(center ellipse, #2d3e52 0%, black 100%);
  background: radial-gradient(ellipse at center, #2d3e52 0%, black 100%); }
  .section-content h2 {
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 100px; }
  .section-content span {
    color: #ff3434; }

.first-section {
  margin-bottom: 50px; }

.section-projects {
  height: 100%; }

.project-content {
  padding: 10px;
  margin-bottom: 10px; }
  .project-content img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer; }

.section-content-projects {
  height: 100%; }

.project-cont {
  padding: 5px; }

.fullpage-animate {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: full 2000ms ease 4500ms forwards;
  animation: full 2000ms ease 4500ms forwards;
  top: 0;
  left: 0;
  z-index: 1000; }

.letters-cont {
  position: relative;
  width: 100%;
  height: 200px; }

.letters-cont:before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #ff0000;
  position: absolute;
  top: 150px;
  -webkit-animation: line 2000ms ease 2200ms forwards;
  animation: line 2000ms ease 2200ms forwards; }

@media screen and (min-width: 790px) {
  .letters-cont > p {
    color: #ffffff;
    text-align: center;
    font-size: 120px;
    float: left;
    display: block; }
  .pulse-cont {
    display: none; }
  .one {
    position: absolute;
    top: 0;
    left: 0px;
    -webkit-animation: one 2000ms ease;
    animation: one 2000ms ease; }
  .two {
    position: absolute;
    top: 0;
    left: 135px;
    -webkit-animation: two 2000ms ease;
    animation: two 2000ms ease; }
  .three {
    position: absolute;
    top: 0;
    left: 240px;
    -webkit-animation: three 2000ms ease;
    animation: three 2000ms ease; }
  .four {
    position: absolute;
    top: 0;
    left: 340px;
    -webkit-animation: four 2000ms ease;
    animation: four 2000ms ease; }
  .five {
    position: absolute;
    top: 0;
    left: 450px;
    -webkit-animation: five 2000ms ease;
    animation: five 2000ms ease; }
  .six {
    position: absolute;
    top: 0;
    left: 560px;
    -webkit-animation: six 2000ms ease;
    animation: six 2000ms ease; }
  .seven {
    position: absolute;
    top: 0;
    left: 700px;
    -webkit-animation: seven 2000ms ease;
    animation: seven 2000ms ease; }
  @-webkit-keyframes one {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 0px;
      opacity: 1; } }
  @keyframes one {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 0px;
      opacity: 1; } }
  @-webkit-keyframes two {
    from {
      top: 500px;
      left: 600px;
      opacity: 0; }
    to {
      top: 0;
      left: 135px;
      opacity: 1; } }
  @keyframes two {
    from {
      top: 500px;
      left: 600px;
      opacity: 0; }
    to {
      top: 0;
      left: 135px;
      opacity: 1; } }
  @-webkit-keyframes three {
    from {
      top: -200px;
      left: 290px;
      opacity: 0; }
    to {
      top: 0px;
      left: 240px;
      opacity: 1; } }
  @keyframes three {
    from {
      top: -200px;
      left: 290px;
      opacity: 0; }
    to {
      top: 0px;
      left: 240px;
      opacity: 1; } }
  @-webkit-keyframes four {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 340px;
      opacity: 1; } }
  @keyframes four {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 340px;
      opacity: 1; } }
  @-webkit-keyframes five {
    from {
      top: -200px;
      left: 541px;
      opacity: 0; }
    to {
      top: 0px;
      left: 450px;
      opacity: 1; } }
  @keyframes five {
    from {
      top: -200px;
      left: 541px;
      opacity: 0; }
    to {
      top: 0px;
      left: 450px;
      opacity: 1; } }
  @-webkit-keyframes six {
    from {
      top: -30px;
      left: 400px;
      opacity: 0; }
    to {
      top: 0px;
      left: 560px;
      opacity: 1; } }
  @keyframes six {
    from {
      top: -30px;
      left: 400px;
      opacity: 0; }
    to {
      top: 0px;
      left: 560px;
      opacity: 1; } }
  @-webkit-keyframes seven {
    from {
      top: -50px;
      left: -10px;
      opacity: 0; }
    to {
      top: 0px;
      left: 700px;
      opacity: 1; } }
  @keyframes seven {
    from {
      top: -50px;
      left: -10px;
      opacity: 0; }
    to {
      top: 0px;
      left: 700px;
      opacity: 1; } }
  @-webkit-keyframes line {
    from {
      width: 0; }
    to {
      width: 840px; } }
  @keyframes line {
    from {
      width: 0; }
    to {
      width: 840px; } } }

@media (max-width: 790px) {
  .letters-cont > p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    float: left;
    display: none; }
  .pulse-cont {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .letters-cont:before {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    display: none;
    top: 150px;
    -webkit-animation: line 2000ms ease 2200ms forwards;
    animation: line 2000ms ease 2200ms forwards; }
  .one {
    position: absolute;
    top: 0;
    left: 40%;
    -webkit-animation: one 2000ms ease;
    animation: one 2000ms ease; }
  .two {
    position: absolute;
    top: 0;
    left: 46%;
    -webkit-animation: two 2000ms ease;
    animation: two 2000ms ease; }
  .three {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-animation: three 2000ms ease;
    animation: three 2000ms ease; }
  .four {
    position: absolute;
    top: 0;
    left: 55%;
    -webkit-animation: four 2000ms ease;
    animation: four 2000ms ease; }
  .five {
    position: absolute;
    top: 0;
    left: 60%;
    -webkit-animation: five 2000ms ease;
    animation: five 2000ms ease; }
  .six {
    position: absolute;
    top: 0;
    left: 65%;
    -webkit-animation: six 2000ms ease;
    animation: six 2000ms ease; }
  .seven {
    position: absolute;
    top: 0;
    left: 70%;
    -webkit-animation: seven 2000ms ease;
    animation: seven 2000ms ease; }
  @-webkit-keyframes one {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 40%;
      opacity: 1; } }
  @keyframes one {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 40%;
      opacity: 1; } }
  @-webkit-keyframes two {
    from {
      top: 500px;
      left: 600px;
      opacity: 0; }
    to {
      top: 0;
      left: 45%;
      opacity: 1; } }
  @keyframes two {
    from {
      top: 500px;
      left: 600px;
      opacity: 0; }
    to {
      top: 0;
      left: 45%;
      opacity: 1; } }
  @-webkit-keyframes three {
    from {
      top: -200px;
      left: 290px;
      opacity: 0; }
    to {
      top: 0px;
      left: 50%;
      opacity: 1; } }
  @keyframes three {
    from {
      top: -200px;
      left: 290px;
      opacity: 0; }
    to {
      top: 0px;
      left: 50%;
      opacity: 1; } }
  @-webkit-keyframes four {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 55%;
      opacity: 1; } }
  @keyframes four {
    from {
      top: 200px;
      left: 800px;
      opacity: 0; }
    to {
      top: 0px;
      left: 55%;
      opacity: 1; } }
  @-webkit-keyframes five {
    from {
      top: -200px;
      left: 541px;
      opacity: 0; }
    to {
      top: 0px;
      left: 60%;
      opacity: 1; } }
  @keyframes five {
    from {
      top: -200px;
      left: 541px;
      opacity: 0; }
    to {
      top: 0px;
      left: 60%;
      opacity: 1; } }
  @-webkit-keyframes six {
    from {
      top: -30px;
      left: 400px;
      opacity: 0; }
    to {
      top: 0px;
      left: 65%;
      opacity: 1; } }
  @keyframes six {
    from {
      top: -30px;
      left: 400px;
      opacity: 0; }
    to {
      top: 0px;
      left: 65%;
      opacity: 1; } }
  @-webkit-keyframes seven {
    from {
      top: -50px;
      left: -10px;
      opacity: 0; }
    to {
      top: 0px;
      left: 70%;
      opacity: 1; } }
  @keyframes seven {
    from {
      top: -50px;
      left: -10px;
      opacity: 0; }
    to {
      top: 0px;
      left: 70%;
      opacity: 1; } }
  @-webkit-keyframes line {
    from {
      width: 0; }
    to {
      width: 100%; } }
  @keyframes line {
    from {
      width: 0; }
    to {
      width: 100%; } } }

@-webkit-keyframes full {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden; } }

@keyframes full {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes showcont {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showcont {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.section-container-contact {
  width: 100%; }

.section-social-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section-social-content i {
    cursor: pointer;
    color: #fff; }

.facebook-icon:hover {
  color: #3b5998;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75); }

.linkedin-icon:hover {
  color: #0077B5;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75); }

.call-sect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .call-sect h3 {
    font-size: 1rem; }

.visible {
  opacity: 1;
  -webkit-transition: 900ms;
  -o-transition: 900ms;
  transition: 900ms;
  visibility: visible; }

.section-phone-content {
  min-height: 800px;
  background: none; }

.section-content-contact {
  min-height: 800px; }
  .section-content-contact h2 {
    padding-top: 10px; }

.contact-box {
  width: 100%; }

#message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: 60%;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px #000 solid;
  line-height: 35px;
  text-align: center; }

#message.error {
  display: block;
  border-color: #FA7382;
  color: #FA3543; }

#message.success {
  display: block;
  border-color: #9FFA8A;
  color: #4BE542; }

form {
  width: 60%;
  margin: 40px auto; }

.inputField {
  margin-bottom: 10px;
  overflow: hidden; }

.inputField input,
.inputField textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 1px #C4C4C4 solid;
  border-radius: 10px;
  font: 13px/1 Arial, Tahoma, sans-serif;
  color: #6E6E6E; }

.inputField textarea {
  height: 180px;
  padding: 20px;
  line-height: 20px;
  margin-top: 15px; }

.inputField button {
  float: right;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: #ff0000;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75); }
  .inputField button:hover {
    color: #ff0000;
    background-color: #fff;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms; }

.call-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contact-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contact-icons a {
    padding: 10px; }

.answer-icon-message {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  vertical-align: middle; }

.visible-box {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }

.phone-ico:hover {
  color: #01d875;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75); }

.message-ico:hover {
  color: #ff544d;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  text-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.75); }

::-webkit-scrollbar {
  width: 8px;
  /* for vertical scrollbars */
  height: 8px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: #a5a5a5; }

::-webkit-scrollbar-thumb {
  background: #ff3434; }

.section-about,
.section-projects {
  margin-bottom: 50px; }

.pulse-icon {
  color: red; }
