body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white; }

.first-sect {
  padding-left: 10px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: black; }

.logo {
  height: 4%;
  width: 4%; }

.first-col {
  background-color: #414141;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 0, 0, 0.3);
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: radial-gradient(ellipse at center, #2d3e52 0%, black 100%);
  /* w3c */
  border: 2px solid rgba(255, 0, 0, 0.15);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.first-sect-col-1 {
  height: 90vh;
  width: 100%; }

.first-sect-col-2 {
  height: 91vh;
  overflow: hidden; }
  .first-sect-col-2 img {
    height: 175%;
    width: auto;
    margin-left: -320px;
    -webkit-animation: colorChange 100s infinite;
    animation: colorChange 100s infinite; }

@-webkit-keyframes colorChange {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(1000deg);
    filter: hue-rotate(1000deg); }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); } }

@keyframes colorChange {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(1000deg);
    filter: hue-rotate(1000deg); }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); } }

.fName {
  background-color: rgba(77, 79, 108, 0.22);
  text-align: center;
  padding-right: 70px; }
  .fName h2 {
    font-size: 8rem;
    padding: 20px 180px 20px 180px;
    color: #d8d8d8;
    text-transform: uppercase;
    position: relative; }
    .fName h2::before {
      content: "WAWRZYK";
      position: absolute;
      top: 48%;
      left: 68%;
      font-size: 20px;
      display: block;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .fName h2::after {
      content: "DESIGN";
      font-size: 20px;
      display: block;
      position: absolute;
      top: 70%;
      left: 76%;
      color: #ff3434; }
  .fName span {
    color: #ff3434; }

@media (max-width: 940px) {
  img {
    display: none;
    transition: 200ms; } }

@media (max-width: 540px) {
  ul {
    width: 100%;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    text-align: center; }
  .nav {
    margin-right: 0 !important;
    padding: 0;
    display: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: none; }
  li {
    display: block !important; }
    li:hover {
      background-color: rgba(77, 79, 108, 0.22);
      width: 100%; }
    li:active {
      background-color: rgba(77, 79, 108, 0.22); }
  .hamburger span {
    visibility: visible !important; } }

.nav {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 0px; }
  .nav li {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    padding: 20px 20px 10px 20px; }
  .nav a {
    text-decoration: none;
    cursor: pointer;
    color: #c1c1c1;
    text-transform: uppercase;
    position: relative; }
    .nav a:hover {
      color: #ff3434;
      transition: 400ms; }
      .nav a:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        top: 25px;
        left: 0px;
        -webkit-animation: lineAnime 200ms ease-in;
        animation: lineAnime 200ms ease-in; }

@-webkit-keyframes lineAnime {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes lineAnime {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.hamburger span {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 40px;
  display: block;
  z-index: 9999;
  visibility: hidden; }
  .hamburger span:hover {
    color: #ff3434;
    transition: 400ms;
    cursor: pointer; }

.fname-2 {
  color: white;
  padding: 10px;
  margin-right: 20px;
  font-style: italic; }
